@mixin button-subtle {
	background: var(--color-neutral-00);
	color: var(--color-neutral-90);

	.icon {
		filter: var(--svg-filter-neutral-90);
	}

	&:hover {
		background: var(--color-neutral-10);
	}

	&:active {
		background: var(--color-neutral-20);
	}
}