@keyframes overlay-open {
	0% { background: var(--color-overlay-background--blank); }
	100% { background: var(--color-overlay-background); }
}

@keyframes overlay-close {
	0% { background: var(--color-overlay-background); }
	100% { background: var(--color-overlay-background--blank); }
}

.overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 100;

	animation: {
		name: overlay-open;
		timing-function: linear;
		fill-mode: forwards;
	}

	&--close {
		animation: {
			name: overlay-close;
		}
	}
}