$size-sm: 425px;
$size-md: 768px;
$size-lg: 1024px;

@mixin media($size) {
	@if $size == "sm" {
		@media screen and (max-width: $size-sm) { @content; }
	}
	@else if $size == "md" {
		@media screen and (max-width: $size-md) { @content; }
	}
	@else if $size == "lg" {
		@media screen and (min-width: calc($size-md + 1px) ) { @content; }
	}
}