@mixin theme($theme) {
	--color-overlay-background: #24212964;
	--color-overlay-background--blank: #24212900;

	@if $theme == "light" {
		--color-primary-00: #dfd7fd;
		--color-primary-10: #c3b3fa;
		--color-primary-20: #a790f8;
		--color-primary-30: #8c6ef7;
		--color-primary-40: #724cf9;
		--color-primary-50: #5e3bdc;
		--color-primary-60: #4d2ebf;
		--color-primary-70: #381f91;
		--color-primary-80: #261466;
		--color-primary-90: #1a0f44;

		--color-neutral-00: #ffffff;
		--color-neutral-10: #eceaf0;
		--color-neutral-20: #d9d6df;
		--color-neutral-30: #bfbbc6;
		--color-neutral-40: #a6a2b1;
		--color-neutral-50: #8c8895;
		--color-neutral-60: #6b6576;
		--color-neutral-70: #4d4856;
		--color-neutral-80: #393541;
		--color-neutral-90: #242129;

		--color-error-00: #ffdede;
		--color-error-10: #fcabaa;
		--color-error-20: #fa8c8a;
		--color-error-30: #fa6c6a;
		--color-error-40: #f64946;
		--color-error-50: #f22c29;
		--color-error-60: #cd2421;
		--color-error-70: #a41c1a;
		--color-error-80: #711312;
		--color-error-90: #430b0b;

		--svg-filter-neutral-00: brightness(0) saturate(100%) invert(77%) sepia(99%) saturate(0%) hue-rotate(264deg) brightness(110%) contrast(100%);
		--svg-filter-neutral-10: brightness(0) saturate(100%) invert(85%) sepia(8%) saturate(91%) hue-rotate(219deg) brightness(110%) contrast(92%);
		--svg-filter-neutral-20: brightness(0) saturate(100%) invert(90%) sepia(12%) saturate(112%) hue-rotate(219deg) brightness(97%) contrast(86%);
		--svg-filter-neutral-30: brightness(0) saturate(100%) invert(79%) sepia(10%) saturate(191%) hue-rotate(220deg) brightness(97%) contrast(86%);
		--svg-filter-neutral-40: brightness(0) saturate(100%) invert(75%) sepia(7%) saturate(393%) hue-rotate(215deg) brightness(87%) contrast(88%);
		--svg-filter-neutral-50: brightness(0) saturate(100%) invert(57%) sepia(19%) saturate(169%) hue-rotate(217deg) brightness(92%) contrast(86%);
		--svg-filter-neutral-60: brightness(0) saturate(100%) invert(41%) sepia(22%) saturate(256%) hue-rotate(220deg) brightness(92%) contrast(89%);
		--svg-filter-neutral-70: brightness(0) saturate(100%) invert(22%) sepia(2%) saturate(5638%) hue-rotate(220deg) brightness(77%) contrast(64%);
		--svg-filter-neutral-80: brightness(0) saturate(100%) invert(18%) sepia(18%) saturate(455%) hue-rotate(218deg) brightness(97%) contrast(90%);
		--svg-filter-neutral-90: brightness(0) saturate(100%) invert(11%) sepia(4%) saturate(2267%) hue-rotate(221deg) brightness(107%) contrast(95%);

		--svg-filter-error-40: brightness(0) saturate(100%) invert(34%) sepia(85%) saturate(2151%) hue-rotate(337deg) brightness(104%) contrast(93%);
	}
	@else {
		--color-primary-00: #1a0f44;
		--color-primary-10: #261466;
		--color-primary-20: #381f91;
		--color-primary-30: #4d2ebf;
		--color-primary-40: #5e3bdc;
		--color-primary-50: #724cf9;
		--color-primary-60: #8c6ef7;
		--color-primary-70: #a790f8;
		--color-primary-80: #c3b3fa;
		--color-primary-90: #dfd7fd;

		--color-neutral-00: #242129;
		--color-neutral-10: #393541;
		--color-neutral-20: #4d4856;
		--color-neutral-30: #6b6576;
		--color-neutral-40: #8c8895;
		--color-neutral-50: #a6a2b1;
		--color-neutral-60: #bfbbc6;
		--color-neutral-70: #d9d6df;
		--color-neutral-80: #eceaf0;
		--color-neutral-90: #ffffff;

		--color-error-00: #430b0b;
		--color-error-10: #711312;
		--color-error-20: #a41c1a;
		--color-error-30: #cd2421;
		--color-error-40: #f22c29;
		--color-error-50: #f64946;
		--color-error-60: #fa6c6a;
		--color-error-70: #fa8c8a;
		--color-error-80: #fcabaa;
		--color-error-90: #ffdede;

		--svg-filter-neutral-00: brightness(0) saturate(100%) invert(11%) sepia(4%) saturate(2267%) hue-rotate(221deg) brightness(107%) contrast(95%);
		--svg-filter-neutral-10: brightness(0) saturate(100%) invert(18%) sepia(18%) saturate(455%) hue-rotate(218deg) brightness(97%) contrast(90%);
		--svg-filter-neutral-20: brightness(0) saturate(100%) invert(22%) sepia(2%) saturate(5638%) hue-rotate(220deg) brightness(77%) contrast(64%);
		--svg-filter-neutral-30: brightness(0) saturate(100%) invert(41%) sepia(22%) saturate(256%) hue-rotate(220deg) brightness(92%) contrast(89%);
		--svg-filter-neutral-40: brightness(0) saturate(100%) invert(57%) sepia(19%) saturate(169%) hue-rotate(217deg) brightness(92%) contrast(86%);
		--svg-filter-neutral-50: brightness(0) saturate(100%) invert(75%) sepia(7%) saturate(393%) hue-rotate(215deg) brightness(87%) contrast(88%);
		--svg-filter-neutral-60: brightness(0) saturate(100%) invert(79%) sepia(10%) saturate(191%) hue-rotate(220deg) brightness(97%) contrast(86%);
		--svg-filter-neutral-70: brightness(0) saturate(100%) invert(90%) sepia(12%) saturate(112%) hue-rotate(219deg) brightness(97%) contrast(86%);
		--svg-filter-neutral-80: brightness(0) saturate(100%) invert(85%) sepia(8%) saturate(91%) hue-rotate(219deg) brightness(110%) contrast(92%);
		--svg-filter-neutral-90: brightness(0) saturate(100%) invert(77%) sepia(99%) saturate(0%) hue-rotate(264deg) brightness(110%) contrast(100%);

		--svg-filter-error-40: brightness(0) saturate(100%) invert(27%) sepia(96%) saturate(5309%) hue-rotate(351deg) brightness(103%) contrast(89%);;
	}
}