@use "@styles/theme";
@use "@styles/common";

$themes: "light", "dark";

body {
	font-family: "Lexend", sans-serif;
	margin: 0;
}

.clastine {
	@each $theme in $themes {
		&[clst-theme=#{$theme}] {
			@include theme.theme($theme);
		}
	}

	color: var(--color-neutral-90);
	background: var(--color-neutral-00);
	height: 100vh;
}