.input-field {
	display: flex;
	flex-direction: column;
	gap: 4px;

	&__wrapper {
		border: var(--border-common);
		border-radius: 4px;
		padding: 8px;
		display: flex;
		align-items: center;
		gap: 4px;
		cursor: text;

		transition: border .2s;

		input {
			border: none;
			font-size: 16px;
			line-height: 24px;
			outline: none;
			padding: 0;

			flex: 1;

			&::placeholder {
				color: var(--color-neutral-40);
			}
		}

		.icon {
			filter: var(--svg-filter-neutral-40);
			width: 16px;
			height: 16px;
		}

		&:has(input:focus) {
			border-color: var(--color-primary-40);
		}

		&:active {
			border-color: var(--color-primary-40);
		}
	}

	&__description {
		color: var(--color-neutral-40);
		font-size: 13px;
	}

	&__error {
		color: var(--color-error-40);
		display: flex;
		align-items: center;
		font-size: 13px;
		gap: 4px;

		.icon {
			filter: var(--svg-filter-error-40);
			width: 16px;
			height: 16px;
		}
	}

	&--error &__wrapper {
		border-color: var(--color-error-40);

		&:has(input:focus) {
			border-color: var(--color-error-40);
		}
	}
}