@use "@styles/breakpoint";

.navigation-link {
	display: flex;
	align-items: center;
	gap: 8px;

	background: var(--color-neutral-00);
	border-radius: 8px;
	color: var(--color-neutral-40);
	padding: 8px;

	transition:
		all .2s,
		gap .5s;

	.icon {
		filter: var(--svg-filter-neutral-40);

		transition: all .2s;
	}

	.text {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: clip;
		width: 208px;

		transition: width .5s;
	}

	&:hover {
		background: var(--color-neutral-10);
		color: var(--color-neutral-50);
		cursor: pointer;

		.icon {
			filter: var(--svg-filter-neutral-50);
		}
	}

	&:active {
		background: var(--color-neutral-20);
	}

	* {
		pointer-events: none;
		user-select: none;
	}
}