@use "@styles/breakpoint";

.standard-layout {
	display: flex;
	height: 100%;

	@include breakpoint.media("sm") {
		flex-direction: column;
	}

	&__content {
		background-color: var(--color-neutral-10);
		width: 100%;
	}
}