@use "@styles/breakpoint";

@keyframes drawer-open {
	0% { left: -100vw; }
	100% { left: 0; }
}

@keyframes drawer-close {
	0% { left: 0; }
	100% { left: -100vw; }
}

.drawer-overlay {
	.drawer {
		$padding: 8px;

		background-color: var(--color-neutral-00);
		border-right: var(--border-common);
		height: calc(100% - ($padding * 2));
		padding: $padding;
		position: fixed;
		top: 0;

		animation: {
			name: drawer-open;
			duration: .5s;
			timing-function: ease-out;
			fill-mode: forwards;
		}

		@include breakpoint.media("sm") {
			width: calc(100% - ($padding * 2));
		}
	}

	&.overlay--close {
		.drawer {
			animation: {
				name: drawer-close;
				timing-function: ease-in;
			}
		}
	}
}